@keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 1920px -1920px; }
}

a {
    color: hotpink;
    font-weight: bolder;
}

a:hover {
    color: midnightblue;
    opacity: 0.5;
}

body {
    background-color: lightcyan;
    font-family: monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../images/bubbles.jpg);
    background-repeat: repeat;
    animation-name: slide;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    backdrop-filter: blur(8px);
}

figure {
    float: right;
    background-color: lavenderblush;
    border: outset lightpink;
}

figure > img {
    border: ridge lightpink;
    max-width: 100%;
    height: auto;
}

figcaption {
    background-color: lavenderblush;
    border: ridge lightpink;
    text-align: right;
}

footer {
    background-color: rgba(255, 182, 193, 0.8);
    color: white;
    margin-top: auto;
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

h1, h2 {
    text-decoration: underline;
    text-decoration-color: hotpink;
}

ul {
    margin: 16px;
    padding-left: 16px;
}

li {
    list-style: square;
    border-bottom: dashed thin;
    padding-top: 4px;
}


#centercontainer {
    margin: auto;
    max-width: 1440px;
}

#floatdesc {
    display: table;
    clear: both;
    width: 100%;
}

#flexlists {
    display: flex;
    flex-wrap: wrap;
}

#flexlists > div {
    flex-grow: 1;
}

#flexpages {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

#flexpages > div {
    flex-grow: 1;
    margin: 8px;
    text-align: center;
}

#raspby {
    background-image: url(../images/wood.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    background-color: lightblue;
    border: outset thick lightblue;
    padding: 64px;
}

#slimegirl {
    background-image: url(../images/wood.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    background-color: lightgreen;
    border: outset thick lightgreen;
    padding: 64px;
}

#titlebar {
    background-color: mediumturquoise;
    border: ridge aqua;
    border-bottom: none;
    margin: 8px;
    margin-bottom: 0;
    padding: 8px;
    padding-right: 32px;
    font-family: sans-serif;
    font-weight: bold;
    width: max-content;
    display: flex;
    align-items: flex-start;
}

#titlebar > img {
    image-rendering: pixelated;
    padding-right: 8px;
}

#window {
    background-color: rgba(255, 240, 245, 0.8);
    background-color: lavenderblush;
    border: ridge thick lightpink;
    margin: 8px;
    margin-top: 0;
    padding: 16px;
}