@font-face {
    font-family: "Comic Neue";
    src: local("Comic Neue Regular"), local(ComicNeue-Regular),
        url(../fonts/ComicNeue-Regular.woff2) format(woff2),
        url(../fonts/ComicNeue-Regular.woff) format(woff);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes slide {
    from { background-position: 0 0, center; }
    to { background-position: 0px -480px, center; }
}

a {
    color: deeppink;
    font-weight: bolder;
}

a:hover {
    color: midnightblue;
    opacity: 0.5;
}

body {
    background-color: darkslategray;
    font-family: serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../images/bubbles.jpg), url(../images/coral.jpg);
    background-blend-mode: hard-light;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    animation-name: slide;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 8px black inset;
}

figure {
    float: right;
    overflow: hidden;
}

figure > img {
    display: block;
}

figcaption {
    text-align: right;
}

footer {
    background-color: rgba(255, 192, 203, 0.8);
    color: white;
    margin-top: auto;
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

h1, h2 {
    text-decoration: underline;
    text-decoration-color: hotpink;
}

hr {
    border-color: lightpink;
}

ul {
    margin: 16px;
    padding-left: 16px;
}

li {
    list-style: square;
    border-bottom: dashed thin lightpink;
    padding-top: 4px;
}

#centercontainer {
    margin: auto;
    max-width: 1440px;
}

#floatdesc {
    display: table;
    clear: both;
    width: 100%;
}

#flexlists {
    display: flex;
    flex-wrap: wrap;
}

#flexlists > div {
    flex-grow: 1;
}

#flexpanels {
    display: flex;
    flex-wrap: wrap;
    image-rendering: pixelated;
    margin-bottom: 8px;
    color: white;
    font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
}

#logocontainer {
    padding: 16px;
    text-align: center;
}

.imgscale {
    max-width: 100%;
    height: auto;
}

#raspby {
    background-image: url(../images/static.png), url(../images/wood.jpg);
    background-position: center;
    background-size: contain, 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    background-color: lightblue;
    border: outset 16px lightblue;
    padding: 64px;
}

#raspby:hover {
    background-image: url(../images/blinking.gif), url(../images/wood.jpg);
    background-blend-mode: normal, color-burn;
}

#raspby:active {
    border-style: inset;
}

#slimegirl {
    background-image: url(../images/wood.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    background-color: lightgreen;
    border: outset 16px lightgreen;
    padding: 64px;
}

#slimegirl:active {
    border-style: inset;
}

.panel {
    margin: 8px;
    flex-grow: 1;
    display: flex;
}

.panel > a {
    opacity: 1;
    flex-grow: 1;
}

.panel > div {
    flex-grow: 1;
}
.panel > p {
    margin: 16px;
    width: 128px;
}

#titlebar {
    background-color: mediumturquoise;
    border: solid 2px pink;
    border-bottom: none;
    box-shadow: 2px 2px cyan inset, -2px 0px darkcyan inset;
    margin: 8px;
    margin-bottom: 0;
    padding: 4px;
    padding-top: 6px;
    font-family: sans-serif;
    font-weight: bold;
    width: max-content;
    display: flex;
    image-rendering: pixelated;
}

#titlebox1 {
    padding-right: 16px;
}

#titlebox2 {
    padding-left: 16px;
}

#window {
    background-color: lavenderblush;
    border: ridge thick pink;
    margin: 8px;
    margin-top: 0;
    padding: 16px;
}