@font-face {
    font-family: "Comic Neue";
    src: local("Comic Neue Bold"), local(ComicNeue-Bold),
        url(../fonts/ComicNeue-Bold.woff2) format(woff2),
        url(../fonts/ComicNeue-Bold.woff) format(woff);
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Comic Neue";
    src: local("Comic Neue Regular"), local(ComicNeue-Regular),
        url(../fonts/ComicNeue-Regular.woff2) format(woff2),
        url(../fonts/ComicNeue-Regular.woff) format(woff);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a {
    color: #79cde5;
    font-weight: bold;
}

a:hover {
    opacity: 0.5;
    cursor: url(../images/cursor-pointer.png), auto;
}

body {
    background-color: #cbecf3;
    background-image: linear-gradient(to bottom right, transparent 50%, red, orange, yellow, green, blue, purple, transparent 70%)
    , url(../images/cloud.jpg);
    background-blend-mode: screen, normal;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
    text-align: center;
    color: #383838;
    cursor: url(../images/cursor-default.png), auto;
}

footer {
    background-color: rgba(172, 112, 120, 0.8);
    color: white;
    margin-top: auto;
    width: 100%;
    font-family: sans-serif;
}

h1, h2 {
    background-color: #bd868c;
    color: white;
    padding: 8px;
    border: solid #fbf1e6 medium;
    box-shadow: 0px 4px #fbf1e6;
    border-radius: 24px;
    margin: 8px;
    font-family: sans-serif;
}

hr {
    border-style: none;
    border-top: dotted #fee9f0 thick; 
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    text-align: left;
    margin: 16px;
    padding-left: 16px;
}

li::marker {
    color: #c9e9c0;
}

li {
    border-bottom: dotted #fee9f0 thick;
}

#backgroundattachment {
    background-attachment: fixed;
    background-position: left 2% center;
    background-repeat: no-repeat;
    width: 100%;
}

#blurple {
    color:#7289DA;
}

#flexlinks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    image-rendering: pixelated;
}

#flexlinks > div > p, a > p {
    margin: auto;
    font-weight: bold;
}

#centercontainer {
    margin: auto;
    max-width: 1280px;
}

#menu {
    background-color:rgba(255, 255, 255, 0.9);
    border: solid #75575f thick;
    border-radius: 16px;
    padding: 16px;
    margin: 8px;
}

#menuflex {
    display: flex;
    flex-wrap: wrap;
}

#menuflex > div {
    flex-grow: 1;
}

#raspbyfig {
    max-width: max-content;
    margin: auto;
}

.tab {
    text-indent: 32px;
    text-align: left;
}