@font-face {
    font-family: "Comic Neue";
    src: local("Comic Neue Bold"), local(ComicNeue-Bold),
        url(../fonts/ComicNeue-Bold.woff2) format(woff2),
        url(../fonts/ComicNeue-Bold.woff) format(woff);
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Comic Neue";
    src: local("Comic Neue Regular"), local(ComicNeue-Regular),
        url(../fonts/ComicNeue-Regular.woff2) format(woff2),
        url(../fonts/ComicNeue-Regular.woff) format(woff);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a {
    color: plum;
    font-weight: bold;
}

a:hover {
    color: mediumturquoise;
    opacity: 0.5;
}

h1, h2 {
    text-decoration: underline deepskyblue;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: deepskyblue;
    border-width: 4px;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: skyblue;
    background-image: linear-gradient(to bottom right, transparent 50%, red, orange, yellow, green, blue, purple, transparent 70%)
    , url(../images/cloud.jpg);
    background-blend-mode: screen, normal;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #00A596;
    font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
}

#flexlists {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: left;
}

#flexlinks {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
}

#flexlinks > div > p, a > p {
    margin: auto;
    font-weight: bold;
}

#window {
    margin: auto;
    max-width: max-content;
}

#content {
    background-color: rgba(255, 250, 240, 0.8);
    border: thick outset royalblue;
    border-top: none;
    padding: 16px;
}

#titlebar {
    background-color: dodgerblue;
    background-image: linear-gradient(lightblue, dodgerblue 10%);
    border: thin solid royalblue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: floralwhite;
    text-shadow: 1px 1px darkblue;
    font-family: "Tahoma", sans-serif;
    display: flex;
    align-items: center;
    height: 32px;
}

#titlebar > img {
    padding: 8px;
}

#raspbyfig {
    max-width: max-content;
    margin: auto;
}

#raspbyfig > figcaption {
    text-align: right;
    font-size: smaller;
}

.woodpanelcontainer {
    display: flex;
    flex-wrap: wrap;
}

.woodpanelcontainer > div {
    background: url(../images/wood.png) no-repeat;
    background-blend-mode: color-burn;
    background-size: 100% 100%;
    border: thick outset;
    padding: 16px;
    margin: 16px;
    flex: 1;
}

.woodpanelcontainer > div > p {
    background-color: rgba(255, 250, 240, 0.8);
    margin: auto;
    max-width:fit-content;
    padding: 4px;
    border-radius: 8px;
}

.woodpanelcontainer > div > h3 {
    background-color: rgba(255, 250, 240, 0.8);
    margin: auto;
    max-width:fit-content;
    padding: 4px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#woodpanelidk {
    background-color: mediumturquoise;
    border-color: mediumturquoise;
}

#woodpanelmoosic {
    background-color: lightskyblue;
    border-color: lightskyblue;
}

#woodpanelcredits {
    background-color: plum;
    border-color: plum;
}